@model Classroom.Models.Test

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Instructor.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Assignment: @Model.TaskTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsWorth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsWorth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classrooms)
        </dt>
        <dd>
            @foreach (var classroom in Model.Classrooms)
            {
                @Html.Display(classroom.ClassroomName)
            }
        </dd>
        <dt>
            @Html.Label("Files:")
        </dt>
        <dd>

            @foreach (var item in Model.FileDetails)
            {

                <a class="btn btn-success btn-sm" href="/Assignments/Download/?p=@(item.FileId + item.Extension)&d=@item.FileName">@item.FileName</a>
                        <p></p>
            }

        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
