@model PagedList.IPagedList<Classroom.Models.Instructor>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Instructors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{


        <div class="form-inline pull-right">
            <div class="form-group">
                @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new {htmlAttributes = new {@class = "form-control", placeholder = "Search By Name"}})

            </div>
            <button type="submit" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <br/><br/>

        }


    <br />
    <table class="table table-striped">
        <tr>
            <th>
                @Html.ActionLink("Instructor Id", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Email
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.InstructorId }, new { @class = "fa fa-pencil-square-o btn btn-primary btn-sm", title = "Edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.InstructorId }, new { @class = "fa fa-list btn btn-success btn-sm", title = "Details" })
                    @Html.ActionLink(" ", "Delete", new { id = item.InstructorId }, new { @class = "fa fa-trash-o btn btn-danger btn-sm", title = "Delete" })
                </td>
            </tr>
        }

    </table>

        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

