@model Classroom.Models.Semester

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Semester</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SemesterTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd>
            @foreach (var course in Model.Courses)
            {
                @course.CourseId @: @course.CourseTitle<br />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SemesterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
