@model Classroom.Models.Syllabus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Syllabus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SyllabusTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SyllabusTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SyllabusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SyllabusDescription)
        </dd>

        <dt>
            @Html.Label("Files:")
        </dt>
        <dd>

            @foreach (var item in Model.FileDetails)
            {

                <a class="btn btn-success btn-sm" href="/Tests/Download/?p=@(item.FileId + item.Extension)&d=@item.FileName">@item.FileName</a>
                <p></p>
            }

        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SyllabusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
