@model Classroom.ViewModels.VirtualClassroomViewModel

@{
    ViewBag.Title = "_assignments";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Accordion - Collapse content</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function () {
            $("#accordion").accordion({
                collapsible: true
            });
        });
    </script>
</head>

<body>

    <div id="accordion">
        @foreach (var item in Model.Assignments)
        {
                <h3>@Html.DisplayFor(modelItem => item.TaskTitle)<span class="pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> Available: @Html.DisplayFor(modelItem => item.AvailableDate) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i> Due: @Html.DisplayFor(modelItem => item.DueDate)</span> </h3>
                <div>

                        @Html.HiddenFor(modelItem => item.AssignmentId)
                        <fieldset class="form-group">
                            <p>@Html.DisplayFor(modelItem => item.TaskDescription)</p>
                        </fieldset>
                        <fieldset class="form-group">
                            <label><i class="fa fa-file" aria-hidden="true"></i> Supporting Files: </label>
                            @foreach (var file in item.FileDetails)
                            {
                                <a class="btn btn-success btn-sm" href="/Assignments/Download/?p=@(file.FileId + file.Extension)&d=@file.FileName">@file.FileName</a>
                            }
                        </fieldset>
                        <fieldset>
                            <p>
                                @Html.ActionLink("Submit Assignment", "CompletedAssignment", new { id = item.AssignmentId, vc = Model.VirtualClassroom.VirtualClassroomId }, htmlAttributes: new { @class = "btn btn-info" })
                            </p>
                        </fieldset>

                        <fieldset>
                            <label>Completed Assignment:</label>
                            @foreach (var file in item.CompletedAssignmentsFileDetails)
                            {
                                <a class="btn btn-success btn-sm" href="/Assignments/Download/?p=@(file.FileId + file.Extension)&d=@file.FileName">@file.FileName</a>
                            }
                        </fieldset>
                </div>
        }
    </div>


</body>

</html>


@*<table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>Total Files</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @if (!item.FileDetails.Any())
                    {
                        <span>No File</span>
                    }
                    else
                    {
                        <span>@item.FileDetails.Count() File(s)</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AssignmentId })
                </td>
            </tr>
        }

    </table>*@