@model Classroom.ViewModels.VirtualClassroomViewModel


<div class="panel panel-success">
    <div class="panel-heading">
        <label>Assignments</label>
    </div>
    <div class="panel-body">
        @if (!Model.Assignments.Any())
            {
            <label>There are no assignments at this time</label>
        }
        <div id="assignmentAccordion">

            @foreach (var item in Model.Assignments)
            {
                <h3>
                    @Html.DisplayFor(modelItem => item.TaskTitle)
                    <span class="pull-right">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Available: @Html.DisplayFor(modelItem => item.AvailableDate) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Due: @Html.DisplayFor(modelItem => item.DueDate)
                    </span>
                </h3>

                <div>
                    <div class="form-group">
                        @Html.DisplayFor(model => item.TaskDescription)
                    </div>
                    <div class="form-group">
                        <h4><i class="fa fa-file" aria-hidden="true"></i> Supporting Files:</h4>
                        @foreach (var file in item.FileDetails)
                        {
                            <a class="btn btn-default btn-sm" href="/Assignments/Download/?p=@(file.FileId + file.Extension)&d=@file.FileName">@file.FileName</a>
                        }
                    </div>

                    @if (!Model.CompletedAssignments.Single(a => a.AssignmentId == item.Id).Submitted)
                    {
                        @Html.Action("_SubmitAssignment", "VirtualClassrooms", new {@id = item.Id, classroomId = Model.VirtualClassroom.Id})
                    }
                    else
                    {
                        <hr/>
                        <div class="form-group">
                            <h4><i class="fa fa-file" aria-hidden="true"></i> Completed Assignment:</h4>
                            <button type="button" id="editAssignment" class="btn btn-link">Edit</button>
                        </div>


                        @Html.Action("_CompletedAssignment", "VirtualClassrooms", new {@id = item.Id, classroomId = Model.VirtualClassroom.Id})

                        <div class="form-group">
                            @foreach (var completedAssignment in item.CompletedAssignments)
                            {
                                foreach (var file in completedAssignment.CompletedAssignmentFileDetails)
                                {
                                    <B>
                                        <a class="btn btn-success btn-sm" href="/Assignments/Download/?p=@(file.FileId + file.Extension)&d=@file.FileName">@file.FileName</a>
                                        <a href="javascript:void(0);" data-id="@file.FileId" class="deleteAssignment">
                                            <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                        </a>
                                    </B>
                                }
                            }
                            <hr/>
                        </div>
                    }





                    @*<div id="editAssignmentDiv" class="hidden">
                            @using (Html.BeginForm("_EditAssignment"))
                            {
                                @Html.HiddenFor(m => m.VirtualClassroom.Id)
                                @Model.VirtualClassroom.Id
                                @item.Id
                                Html.RenderAction("_EditAssignment", "VirtualClassrooms", new { @id = item.Id, classroomId = Model.VirtualClassroom.Id });


                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-sm">Submit</button>
                                    <button type="button" id="cancelAssignment" class="btn btn-link">Cancel</button>
                                </div>
                            }
                        </div>*@





                </div>
            }

        </div>
    </div>
</div>

@section Scripts{
    <script>


        $(function() {

            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready(function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) alert(log);
                    }

                });
            });

        });

    </script>

        <script>
        $(function() {
            $("#assignmentAccordion").accordion({
                collapsible: true,
                active: 'none',
                heightStyle: "content"
            });
        });


    </script>


    <script>
        $(function () {
            $("#editAssignment").on("click", function () {
                $("#editAssignmentDiv").removeClass("hidden");
            });
        });
    </script>

    <script>
        $(function () {
            $("#cancelAssignment").on("click", function () {
                $("#editAssignmentDiv").addClass("hidden");
            });
        });
    </script>
}