@model Classroom.Models.VirtualClassroom

@{
    ViewBag.Title = "Details";
}
<div>
        <h4>VirtualClassroom</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Course.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Course.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Semester.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Semester.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AdministratorId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AdministratorId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClassroomName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClassroomName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "StudentClassroom")
    </p>
