@model Classroom.Models.VirtualClassroom

@{
    ViewBag.Title = "Edit";
}


<div class="classroom-form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <h4>Classroom: @Model.ClassroomName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ClassroomName)

            @Html.TextBoxFor(model => model.ClassroomName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClassroomName, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "CourseId")

            @Html.DropDownList("CourseId", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SemesterId, "SemesterId")
            @Html.DropDownList("SemesterId", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SemesterId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Instructors)
            <div class="form-group checkboxlist">
                @{
                    List<Classroom.ViewModels.AssignedInstructorData> instructors = ViewBag.Instructors;
                    foreach (var instructor in instructors)
                    {
                        <input type="checkbox"
                               name="selectedInstructors"
                               value="@instructor.InstructorId"
                               @(Html.Raw(instructor.Assigned ? "checked=\"checked\"" : "")) />
                        @instructor.FullName<br />
                    }
                }

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Students)
            <div class="form-group checkboxlist">
                @{
                    List<Classroom.ViewModels.AssignedStudentData> students = ViewBag.Students;
                    foreach (var student in students)
                    {
                        <input type="checkbox"
                               name="selectedStudents"
                               value="@student.StudentId"
                               @(Html.Raw(student.Assigned ? "checked=\"checked\"" : "")) />
                            @student.FullName<br />
                    }
                }

            </div>
        </div>





        <div class="form-group">

            <input type="submit" value="Save" class="btn btn-default" />

        </div>
                    }

    @Html.ActionLink("Back to List", "StudentClassroom")
</div>
