@model IEnumerable<Classroom.Models.VirtualClassroom>

@{
    ViewBag.Title = "Index";
}

<h2>Classrooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.SemesterTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassroomTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester.SemesterTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassroomTitle)
        </td>
        <td>
            @if (item.Instructors.Count() == 0)
            {
                <span>No Instructors</span>
            }
            else
            {
                <span>@item.Instructors.Count() Instructor(s)</span>
            }
        </td>
        <td>
            @if (item.Students.Count() == 0)
                {
                <span>No Students</span>
            }
            else
            {
                <span>@item.Students.Count() Student(s)</span>
            }
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.VirtualClassroomId }, new { @class = "fa fa-pencil-square-o btn btn-primary btn-sm", title = "Edit" })
            @Html.ActionLink(" ", "Details", new { id = item.VirtualClassroomId }, new { @class = "fa fa-list btn btn-success btn-sm", title = "Details" })
            @Html.ActionLink(" ", "Delete", new { id = item.VirtualClassroomId }, new { @class = "fa fa-trash-o btn btn-danger btn-sm", title = "Delete" })
        </td>
    </tr>
}

</table>
